<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <script src="{% static ' /js/validation.js' %}" type="text/javascript"></script>
    <meta charset="UTF-8">

     <title>HotelBooking</title>

    <style>
        body{
           background-image: url("{% static 'image/back.png' %}" );
        }
        h1 {
            color: white;
            text-align: center;
            }
    </style>
</head>
<body>
<h1 align="center">AKBAR LODGE</h1>
<marquee>The only purpose of ‘customer service’… is to change feelings</marquee>
        <table align="center" border="2">
            <tr>
                <th width="150" bgcolor="#9acd32"><a href="/openUserHomePage/?type=home">HOME</a> </th>
                <th width="150" bgcolor="#9acd32"><a href="/openBookingPage/?type=u_booking">BOOKING</a> </th>
                <th width="150" bgcolor="#9acd32"><a href="/openCancelPage/?type=u_cancel">CANCEL</a> </th>
                <th width="150" bgcolor="#9acd32"><a href="/openUser/?type=h_user">LOGOUT</a> </th>
            </tr>
        </table>
<div>
              <h1 align="center">HAI WELCOME  {{ name.fname }}{{ name.lname }}</h1>
                <h1 align="center" >Welcome To Hotel AKBAR</h1>
            </div>
            {% if type == "home" %}
            {% endif %}

            {% if type == "u_booking" %}
                <table align="center" >
                <form action="/oopenbookingPage/?type=payment" method="post">
                {% csrf_token %}
                <tr>
                    <th width="250" >
                        {% csrf_token %}
                        ROOM:<select
                                onselect="true"
                                name="roomm"
                                onchange="check()"
                                id="one">
                        {% if key == "one" %}
                            <option>{{ room }}</option>
                         {% else %}
                            {% for x in room %}
                                <option>{{ x }}</option>
                            {% endfor %}
                          {% endif %}
                        </select>
                    </th>
                </tr>

                    <tr><th>Name:<input type="text" required name="name"></th></tr>
                    <tr><th>Check_in:<input type="text" required name="check_in"></th></tr>
                    <tr><th>Check_out:<input type="text" required name="check_out"></th></tr>
                    <tr><th>Contact_no:<input type="number" required name="contact_no"></th></tr>
                    <tr><th>Address:<input type="text" required name="address"></th></tr>
                    <tr><th>cardtype:<input type="text" required name="roo"></th></tr>
                    <tr><th>card_no:<input type="number" required name="card_no"></th></tr>
                    <tr><th>cvv:<input type="number" required name="cvvno"></th></tr>
                    <tr><th><input type="submit" value="BOOK"></th></tr>
                 </form>
                 </table>
            {% endif %}

            {% if type == "payment" %}
                <table align="center">
                <form action="/opendisplay/?type=display" method="post">
                {% csrf_token %}

                        <tr><th><h2><font color="blue">{{ message }}</font></h2></th></tr>
                    <!--tr><th>total_amount:<input type="number" required name="total_amount"></th></tr-->
                    <!--tr><th>cardtype:<input type="text" required name="roo"></th></tr>
                    <tr><th>card_no:<input type="number" required name="card_no"></th></tr>
                    <tr><th>cvv:<input type="number" required name="cvvno"></th></tr-->

                    <tr><th><input type="submit" value="Payment"></th></tr>

                </form>
                </table>
            {% endif %}
            {% if type == "display" %}
                <form action="/opendisplay/" method="post">
                {% csrf_token %}
                <table align="center">
                    <tr>
                        <th>rom</th>
                        <th>paru</th>
                        <th>cin</th>
                        <th>cout</th>
                        <th>cno</th>
                        <th>addr</th>
                        <th>cnum</th>
                        <th>Cv</th>
                        <th>Cord_type</th>
                    </tr>
                    {% for rec in records %}
                    <tr>
                        <td>{{ rec.paru }}</td>
                        <td>{{ rec.cin }}</td>
                        <td>{{ rec.cout }}</td>
                        <td>{{ rec.cno }}</td>
                        <td>{{ rec.addr }}</td>
                        <td>{{ rec.cnum }}</td>
                        <td>{{ rec.cv }}</td>
                        <td>{{ rec.Cord_type }}</td>
                    </tr>
                    {% endfor %}
                </table>
                </form>
            {% endif %}
            {% if type == "u_cancel" %}
                <form action="/CancelPage/" method="post">
                {% csrf_token %}
                <table align="center">
                        <tr><th><h2><font color="blue">{{ message }}</font></h2></th></tr>
                    <tr><th>Username:<input type="text" required name="u_name"></th></tr>
                    <tr><th>Room_no:<input type="number" required name="room_no"></th></tr>
                    <tr><th>Cust_id:<input type="number" required name="cust_id"></th></tr>
                    <tr><th><input type="submit" value="Cancel"></th></tr>
                </table>
                </form>
            {% endif %}
</body>